# ===================================================================
# 1. IDEs (JetBrains IntelliJ IDEA) & VS Code
# ===================================================================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# ===================================================================
# 2. Maven Artifacts & Builds
# ===================================================================
# Target directory for compiled code and build products
/target/
# Maven temporary files
pom.xml.tag
pom.xml.releaseBackup
release.properties

# ===================================================================
# 3. OS & Logs
# ===================================================================
*.log
.DS_Store